@import "../../../variables.scss";
.challenges-text {
  display: flex;
  margin: 10px 0px;
  border-top: 3px solid rgba(61, 72, 77, 0.1);
  border-bottom: 3px solid rgba(61, 72, 77, 0.1);
  .challenge-span {
    color: $bg-color;
    font-size: 18px;
    padding: 20px 0;
    padding-bottom: 20px !important;
    font-weight: bold;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #c3e88d 20%, #fff 10%, #b889d8 60%)
      5;
    padding-bottom: 5px;
  }
}
