@import "../../variables.scss";
.appHeader{
    background-color:$bg-color;
    padding: 15px;
    .dev-diaries-logo{
        width: auto;
        height: 56px;
    }
    .user-img{
        width:56px;
        height:56px;
        border-radius: 30px;
    }
    .navLinkClass{
        color:white;
        text-decoration: none;
        margin: 10px;
        font-size: 24px;
    }
    .active{
        border-bottom: 2px solid $header-text-decoration;
        padding-bottom: 5px;
    }
}