@import "../../variables.scss";
.appHeader{
    background-color:$bg-color;
    padding: 15px;
    .dev-diaries-logo{
        width: auto;
        height: 56px;
    }
    .user-img{
        width:56px;
        height:56px;
    }
    .navLinkClass{
        color: black;
        text-decoration: none;
        margin: 10px;
        font-size: 20px;
    }
    .active{
        text-decoration: underline;
        text-decoration-color: darkslategrey;
        text-underline-position:under;
    }
}